<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Order Some Socks</title>
</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">

        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" :alt="description">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p>{{ description }}</p>
                <p v-show="inStock">In Stock<span v-if="onSale"> and on sale</span></p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost Sold Out</p>
                <p v-else>Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <div v-for="variant in variants" :key="variant.variantId" class="color-box"
                    :style="{ backgroundColor:variant.variantColor }" @mouseover="updateProduct(variant.variantImage)">
                </div>
                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>
                <button v-on:click="addToCart">Add to Cart</button>
                <button @click="removeFromCart">Remove</button>
                <div class="cart">
                    <p>{{ cart }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="/js/main.js"></script>

</body>

</html>